{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
  Профайл пользователя {{ author.get_full_name }}
{% endblock %}
{% block content %}
      <h1>Все посты пользователя: {{ author.get_full_name }}</h1>
      <h5>Всего постов: {{ author.posts.count }} </h5>  
      <h5>Всего комментариев автора: {{ author.comments.count }} </h5>
      <h5>Всего подписчиков: {{ author.following.count }} </h5>
      <h5>Всего подписок автора: {{ author.follower.count }} </h5>
      {% if user.is_authenticated %} 
        {% if following %}
    <a
      class="btn btn-lg btn-light"
      href="{% url 'posts:profile_unfollow' author.username %}" role="button"
    >
      Отписаться
    </a>
  {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' author.username %}" role="button"
      >
        Подписаться
      </a>
   {% endif %}
   {% endif %}
    </div>
        {% for post in page_obj %}
        {% include "posts/post.html" %}
          {% if post.group  %}
            <a href="{% url 'posts:group_posts'  post.group.slug  %}">все посты группы {{post.group}}</a>        
          {% endif %}
          {% if not forloop.last %}
            <hr>
          {% endif %}
        {% endfor %}
        {% include "includes/paginator.html" %}  
{%endblock content%}